.body {
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
}

.heading {
	display: flex;
	justify-content: flex-end;
	padding-bottom: 100px;
}

.gmail {
	padding: 0 15px;
}

.images {
	padding: 0 15px;
}

.gapps {
	padding: 0 15px;
}

.dp {
	padding: 0 15px;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.google-logo {
	padding-bottom: 3vh;
}

.search-bar {
	padding-bottom: 3vh;
}

.search-buttons {
	display: flex;
	justify-content: center;
}

.feeling-lucky {
	padding-left: 2vh;
}

.footer {
	display: flex;
    flex-direction: column;
    
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-bottom-left {
    display: flex;
}

.srilanka {
    padding: 0 15px;
}

.about {
    padding: 0 15px;
}

.advertising {
    padding: 0 15px;
}

.business {
    padding: 0 15px;
}

.how-search-works {
    padding: 0 15px;
    
}

.privacy {
    padding: 0 15px;
}

.terms {
    padding: 0 15px;
}

.settings {
    padding: 0 15px;

}

.footer-bottom-right {
    display: flex;
    justify-items: flex-end;
}

